@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: black;
  font-family: sans-serif;
}

input {
  background: white;
  color: black;
}

/* Auth */
.or-auth::before {
  position: absolute;
  left: 0;
  content: "";
  width: 45%;
  height: 2px;
  background: white;
  top: 50%;
}
.or-auth::after {
  position: absolute;
  right: 0;
  content: "";
  width: 45%;
  height: 2px;
  background: white;
  top: 50%;
}
/* Auth */
